@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) {
    .content-wrapper {
        width: 100vw;
    }
}

@media (max-width: 991.98px) {
    .login .row .login-form{
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/login-avatar.png);
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
    
    .login .row .login-form form{
        /* background-color: red; */
        backdrop-filter: blur(10px);
        padding: 40px; 
        border-radius: 20px;
        box-shadow: inset -4px -4px 8px #ffffff, inset 4px 4px 8px #e4e1dd;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}