@media (max-width: 575.98px) {
    
}

@media (max-width: 767.98px) {
    .content-wrapper {
        width: 100vw;
        padding: 30px;
    }
}

@media (max-width: 991.98px) {
    .login .row .login-form{
        background: linear-gradient(rgba(255, 255, 255, 0.884), rgb(255, 255, 255)), url(../ayam-telur.jpg);
        background-size: 150px;
    }
    .login .row .login-form form{
        padding: 0% 10%; 
    }
    .login .row .login-form .logo .img-logo{
        width: 220px;
    }
    .menu-header {
        display: block;
    }
    .left-sidebar {
        width: 0%;
    }
    #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .left-sidebar {
        width: 100%;
    }
    #main-wrapper[data-layout="vertical"][data-sidebartype="full"] .right-side {
        display: none;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}