/* [ INIT ] */
:root {
    --primary-color: #3D8160;
    --secondary-color: #FFF2E5;
    --yellow-color: #FFCC4A;
    --marron-color: #ED6363;
    --white-color: #FFFFFF;
    --black-color: #222222;
    --dark-color: #444444;
    --light-color: #F9F9F9;
}

/* [ FORMATING ] */
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

button,
button:hover,
button:focus,
button:active {
    box-shadow: none;
    border-color: transparent !important;
}

a {
    text-decoration: none
}

ul {
    list-style: none;
    padding-left: 0
}

.page-wrapper {
    position: relative
}

.icon {
    color: inherit;
}

.form-control {
    padding: 10px 16px;
    color: var(--dark-color);
    border: var(--bs-border-width) solid var(--primary-color);
    border-radius: 8px;
    transition: all .15s ease-in-out
}

.form-control:focus {
    color: var(--dark-color);
    background-color: transparent;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: var(--bs-box-shadow-inset), 0 0 0 .25rem rgba(61, 129, 96, 0.2);
}

.form-select {
    background-position: right 16px center;
}

.bg-transparant{
    background-color: transparent !important;
}

.bg-color-primary{
    background-color: var(--primary-color);
}

.color-primary{
    color: var(--primary-color);
}

.tap{
    background-color: var(--light-color);
    padding: 10px 24px;
    line-height: 1;
    border: 2px solid var(--yellow-color) !important;
    color: var(--yellow-color);
}

.tap.active, .tap:focus, .tap:hover{
    background-color: var(--yellow-color);
    color: var(--light-color);
}

.btn {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    padding: 10px 20px;
    font-weight: 600;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:disabled,
.btn.btn-primary:active {
    background-color: var(--marron-color);
    border-color: var(--marron-color);
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--marron-color);
}

.badge {
    padding: 10px 14px;
    font-weight: 500;
    font-size: 0.75rem;
}

.badge.badge-success {
    background-color: #EBF9F1;
    color: #1F9254;
}

.badge.badge-fail {
    background-color: #FBE7E8;
    color: #A30D11;
}

.heading-1 {
    font-size: 28px;
}

.card-inners .card-body{
    position: relative;
}

.card-inners .card-body::before{
    content: '';
    background-image: linear-gradient(to top, rgba(30, 30, 30, 1) 0%, rgba(30, 30, 30, 0) 100%);
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

.card-inners .card-body .content{
    color: var(--light-color);
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.height-full{
    height: 100vh;
}

.custom-scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    border: 3px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
    border-color: #f1f1f1;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #777777;
    border-color: #f1f1f1;
}

/* .list-group-horizontal{
    display: n;
} */

.list-group-horizontal .title{
    min-width: 150px;
}

/* [ LOGIN ] */
.login .row .login-avatar {
    display: block;
    max-height: 100vh;
    overflow: hidden;
}

.login .row .login-avatar img {
    
    width: 100%;
    min-height: 100vh ;
    object-fit: cover;
}

.login .row .login-form {
    background-color: var(--white-color);
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .row .login-form.forget{
    background-color: transparent;
}

.login .row .login-form form {
    padding: 5% 13%;
    width: 100%;
}

.login .row .login-form .logo {
    margin-bottom: 50px;
}

.login .row .login-form .logo .img-logo {
    width: 75%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

/* [ CUSTOM TABLE ] */
.sc-gEvDqW .sc-eqUzNf>* {
    font-size: 0.94rem;
    line-height: 65px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.rdt_TableBody .sc-dhKdPU>* {
    font-size: 0.84rem;
    font-family: 'Poppins', sans-serif;
    line-height: 55px;
    font-weight: 500;
}

.sc-gEvDqW .sc-eqUzNf,
.rdt_TableBody .sc-dhKdPU {
    box-sizing: border-box;
    overflow: hidden;
    border-color: transparent;
}

.sc-dhKdPU.bSNPQm {
    background-color: #FFFBF7;
}

.sc-dhKdPU:hover {
    background-color: #fff3d4 !important;
}

.btn-action:nth-child(1),
.btn-action:nth-child(2) {
    transition: all 0.2s ease-in-out;
}

.btn-action:nth-child(1) {
    color: var(--yellow-color);
}

.btn-action:nth-child(1):hover {
    background-color: transparent !important;
    border-color: transparent !important;
    opacity: 0.5;
}

.btn-action:nth-child(2) {
    color: var(--marron-color);
}

.btn-action:nth-child(1):hover,
.btn-action:nth-child(1):focus,
.btn-action:nth-child(2):hover,
.btn-action:nth-child(2):focus {
    background-color: transparent !important;
    border-color: transparent !important;
    opacity: 0.5;
}

/* [ SIDE BAR ] */
.left-sidebar {
    background-color: var(--primary-color);
    width: min(100%, 300px);
    position: absolute;
    transition: all 0.2s ease-in;
    height: 100vh;
    z-index: 11;
}

.left-sidebar .scroll-sidebar {
    overflow: hidden;
    overflow-y: auto;
    padding: 0 16px 0 28px;
    max-height: calc(100vh - 350px);
    margin-top: -40px;
}


.left-sidebar .scroll-sidebar::-webkit-scrollbar {
    width: 4px;
}

.left-sidebar .scroll-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.left-sidebar .scroll-sidebar:hover::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.left-sidebar .scroll-sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.left-sidebar .scroll-sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #999999;
}

.left-sidebar .scroll-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
}

.menu-header {
    display: none;
    transition: all 0.3s ease-in-out;
}

.brand-logo {
    margin-top: 25px;
    padding: 0 28px
}

.brand-logo .minimize-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.brand-logo .minimize-btn .btn {
    background-color: rgba(255, 242, 229, 0.3);
    position: absolute;
    padding: 5px 9px;
    font-size: 20px;
    right: -14px;
    color: var(--yellow-color);
    transition: all 0.5s ease-in-out;
}

.brand-logo .responsive-menu-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.brand-logo .responsive-menu-btn .btn {
    background-color: rgba(255, 242, 229, 0.3);
    position: absolute;
    padding: 5px 9px;
    font-size: 20px;
    right: 0px;
    color: var(--yellow-color);
}

.maximize-btn .btn {
    position: absolute;
    padding: 0;
    font-size: 25px;
    top: 20px;
    right: 20px;
    color: #444444;
    transition: all 0.5s ease-in-out;
}

.maximize-btn .btn {}

.brand-logo .minimize-btn .btn:focus {
    background-color: rgba(255, 242, 229, 0.3) !important;
    border-color: transparent !important;
}

.brand-logo .logo-img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand-logo .logo-img .img-fluid {
    width: 35px;
}

.brand-logo .logo-img span {
    font-size: 1.2rem;
    font-weight: 700;
}

.brand-logo .logo-img span:nth-child(2) {
    color: var(--white-color);
}

.brand-logo .logo-img span:nth-child(3) {
    color: var(--yellow-color);
}

.left-sidebar .profile {
    margin-bottom: 70px;
}

.left-sidebar .profile .content {
    text-align: center;
    margin-top: 30px;
}

.left-sidebar .profile .content .name {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-color);
}

.left-sidebar .profile .content .role {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-color);
}

.avatar-profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.sidebar-nav ul .sidebar-item {
    margin-bottom: 10px;
}

.sidebar-nav ul .sidebar-item .sidebar-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 12px;
    gap: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 10px 15px;
}

.sidebar-nav ul .sidebar-item .sidebar-link span:first-child {
    display: flex
}

.sidebar-nav ul .sidebar-item .sidebar-link>* {
    color: var(--light-color);
    transition: all 0.12s ease-in-out;
}

.sidebar-nav ul .sidebar-item .sidebar-link.active>* {
    color: var(--dark-color);
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover:not(.active)>* {
    color: var(--marron-color);
}

.sidebar-nav ul .sidebar-item .sidebar-link.active {
    background-color: var(--secondary-color);
    box-shadow: 0px 17px 20px -8px rgbaa(255, 242, 229, 0.231372549);
    color: var(--dark-color);
}

.sidebar-nav ul .sidebar-item .sidebar-link.active .iconify {
    color: var(--primary-color);
}



.sidebar-nav ul .sidebar-item .sidebar-link .iconify {
    color: var(--yellow-color);
    opacity: 1;
    font-size: 25px;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="full"] .left-sidebar {
    left: 0;
}

#main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .left-sidebar {
    position: fixed;
    top: 0
}

#main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar {
    left: -300px;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .menu-header {
    display: block;
}

.right-side {
    position: absolute;
    right: 0;
    width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
}

/* [CONTENT WRAPPER] */
.content-wrapper {
    background-color: var(--light-color);
    border: 10px solid var(--primary-color);
    border-radius: 40px;
    overflow: hidden;
    padding: 40px;
    min-height: 100vh;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .right-side {
    width: 100%;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .left-sidebar {
    width: 0%;
}

#main-wrapper[data-layout="vertical"][data-sidebartype="mini-sidebar"] .content-wrapper {
    min-height: calc(100vh - 68px);
}

/* [DASHBOARD] */
.dashboard .icon {
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    color: var(--primary-color);
}

.dashboard .content>* {
    line-height: 0.8;
}

.dashboard .content .sub {
    font-weight: 400;
    color: rgb(126, 126, 126);
}

.dashboard .content .amout {
    font-weight: 600;
}

.card-thumbnail {
    border-radius: 20px;
    background-color: white;
    padding: 20px 25px;
    box-shadow: rgba(173, 173, 173, 0.2) 0px 2px 8px 0px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  /* background-color: #3D8160; */
  /* margin-bottom: 50px; */
}
html, button, input, select, textarea {
    /* font-family: 'Montserrat', Helvetica, sans-serif; */
    color: #92a4ad;
}
h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}